<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Public IP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{dataHello1.name}}</td>
          <td>{{dataHello1.surname}}</td>
          <td>{{dataHello1.email}}</td>
          <td>{{publicIp.ip}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
