<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formGroup">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name" [formControl]="name" required
          >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="surname" placeholder="Surname" [formControl]="surname" required
          >
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" [formControl]="email"
                 required>
        </div>

        <div class="form-group">
          <button class="btn" (click)="onEdit()" *ngIf="formState === formStates.View">
            Edit
          </button>
          <button class="btn" (click)="onSubmit()"
                  *ngIf="formState === formStates.Add"
                  [disabled]="!isValidForm() ">
            Create
          </button>
          <button class="btn" (click)="onSubmit()" *ngIf="formState === formStates.Edit"
                  [disabled]="!isValidForm()">
            Save
          </button>
          <button class="btn" (click)="onReset()" *ngIf="formState === formStates.Edit">
            Reset
          </button>
          <button class="btn" (click)="onCancel()" *ngIf="formState === formStates.Edit">
            Cancel
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
